:root {
  --primary-color: #0b0c10;
  --secondary-color: #1f2833;
  --tertiary-color: #c5c6c7;
  --quaternary-color: #66fcf1;
  --quinary-color: #45a29e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 40px;
  color: var(--quaternary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 a {
  padding: 10px
}

header a {
  text-decoration: none;
  color: var(--quaternary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  
}

header nav ul li a:hover {
  color: var(--secondary-color);
  background-color: var(--quaternary-color);
  text-shadow: none;
  border-radius: 10%;
}
/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

footer h2 {
  color: var(--quaternary-color);
  font-size: 30px;
  margin: 0;
}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  background-image: url('../images/anders-jilden-Sc5RKXLBjGg-unsplash.jpg');
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  right: 0px;
  bottom: 0px;
  float: right;
  justify-content: right;
  align-items: bottom;
}

.hero-cta h2 {
  font-size: 20px;
  color: var(--quaternary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  justify-content: right;
  align-items: baseline;
  background-color: var(--primary-color);
  }
/* HERO STYLES END */


/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  text-align: left;
  margin: 0px;
  width: 50%;
  padding-left: 10px;
  padding-bottom: 20px;
}
/* SECTION TITLE STYLES END */

/* ABOUT ME STYLES START*/
.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

/* ABOUT ME STYLES END */


/* WORK STYLES START */
.workcards, .pic-cards{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 0px;
}

.workcard, .workcards{
  margin: 20px;
  flex: 1;
  color: var(--primary-color);
  border-left: 15px solid var(--secondary-color);
}

.workcard img, .run-buddy img {
  width: 100%;
}

.workcard-appname {
  padding: 25px;
  line-height: 1.3;
}

.workcard-appname h3 {
  font-size: 30px;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.run-buddy {
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.run-buddy h3 {
  color: white;
}

.hover-over {
  border: 15px solid var(--secondary-color);
}

.hover-over:hover {
    background-color: var(--tertiary-color);
    border: 10px solid var(--tertiary-color);
}

/* WORK STYLES END */

/* CONTACT STYLES START */
.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  color: var(--primary-color);
  text-align: center;
  }

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}
/* CONTACT STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2 {
    text-align: center;
    width: 100%;
  }

  .hero-cta {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .workcard, .run-buddy {
    flex: 0 70%;
  }
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .workcard-appname h3 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .workcard, .run-buddy {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

}